{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<!-- Adapted from: https://cs50.harvard.edu/x/2024/weeks/9/, used for allowing a user to log in to the staff view -->
    <div class="container-fluid pt-3">
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-secondary custom-btn" type="submit">Log In</button>
        </form>
    </div>


{% endblock %}
